body {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  color: #4C545D;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p, a {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  color: #9FABB2;
  font-size: 1.1rem;
}

/* Header logo and background image */

.header-logo {
  text-align: center;
  margin: 0;
}

.header-background {
  position: absolute;
  left: 0px;
  object-fit: cover;
  height: 363px;
  width: 100%;
}

.logo {
  margin: 110px 0 50px;
}

/* Header div secion with text and buttons */

.header-div {
  margin: 0 auto;
  width: 90%;
}

.download-ios {
  box-shadow: 0px 6px 19px -5px #30c7b0;
  background-color: #26baa4;
  border-radius: 30px;
  border: 1px solid #148c7a;
  display: inline-block;
  cursor: pointer;
  color: #d7faf5;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 12px 31px;
  text-decoration: none;
  margin-top: 15px;
  width: 70%;
}

.download-ios:hover {
  background-color: #219481;
}

.download-ios:active {
  position: relative;
  top: 1px;
}

.download-Mac {
  box-shadow: 0px 6px 19px -5px #8290fa;
  background-color: #6173ff;
  border-radius: 30px;
  border: 1px solid #4256ed;
  display: inline-block;
  cursor: pointer;
  color: #e8ebff;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 12px 31px;
  text-decoration: none;
  margin-top: 15px;
  width: 70%;
}

.download-Mac:hover {
  background-color: #4352c4;
}

.download-Mac:active {
  position: relative;
  top: 1px;
}

/* Keep track of your snippets section */

.your-snippets {
  margin: 75px auto;
  width: 90%
}

/* Computer image and 3 advantages part */

.computer-img {
  width: 100%;
}

.advantages {
  width: 90%;
  margin: 0 auto;
}

.advantages-header {
  margin-top: 50px;
}

.sub-advantages {
  margin-top: 0;
}

/* Middle web content: image and two text sections */

.middle-content {
  margin: 100px 0;
}

.access-clipboard, .column-advantages {
  width: 90%;
  margin: 0 auto;
}

.devices-images {
  width: 100%;
}

.access-clipboard, .devices-div, .supperchange-workflow {
  margin-bottom: 50px;
}

/* Section with 3 columns */

.sub-column-advantages {
  margin-bottom: 60px;
}

/* Clients logo */

.client-logo-div {
  margin: 125px auto;
}

.client-logo {
  display: block;
  margin: 50px auto;
}

/* Bottom content */

.bottom-content {
  width: 95%;
  margin: 75px auto;
}

/* Last bottom section */

.bottom-section {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #F5F6F8;
}

.bottom-logo {
  width: 50px;
  margin: 30px auto 10px;
}

.links {
  display: block;
  margin: 25px 0;
  color: #4C545D;
  text-decoration: none;
}

.social-icon {
  margin: 50px 15px;
}

.attribution {
  font-size: 1em;
}

/* Media breakpoints between >768px and <1000px */

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .client-logo-div {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages-product {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    align-items: start;
    text-align: left;
  }

  .advantages-header {
    margin-top: 0;
  }

  .computer-img {
    width: 90%;
  }

  .bottom-section {
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: auto;
    align-items: center;
  }

  .bottom-logo {
    margin: 0 auto;
  }

  .links-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    text-align: left;
  }

  .links {
    margin: 4% 0;
  }

  .social-icons-div {
    text-align: right;
  }

}

/* Media breakpoints >1000px */

@media only screen and (min-width: 1000px) {
  .client-logo-div {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 250px));
    grid-template-rows: auto;
    justify-content: center;
  }

  .advantages-product {
    display: grid;
    grid-template-columns: 2.2fr 1.5fr;
    grid-column-gap: 20px;
    align-items: start;
    text-align: left;
  }

.advantages-text-block {
  margin-bottom: 10%;
}


  .advantages-text {
margin: auto 50px auto 0;
  }

  .advantages-header {
    margin-top: 0;
  }

  .computer-img {
    width: 90%;
  }

  .bottom-section {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto;
    align-items: center;
  }

  .bottom-logo {
    margin: 0 auto;
  }

  .links-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    text-align: left;
  }

  .links {
    margin: 4% 0;
  }

  .social-icons-div {
    text-align: right;
  }

}

/* Media breakpoints for mobile version <768px */

@media only screen and (min-width: 768px) {
  .your-snippets {
    width: 60%;
    margin: 7% auto;
  }

  .middle-content {
    width: 60%;
    margin: 0 auto;
  }

  .access-clipboard {
    width: 80%;
    margin: 10% auto;
  }

  .devices-div {
    margin-bottom: 0;
  }

  .column-advantages {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 350px));
    grid-column-gap: 30px;
    grid-template-rows: auto;
    align-items: baseline;
    justify-content: center;
  }

  .bottom-content {
    width: 63%;
    margin: 100px auto;
  }

  .download-ios, .download-Mac {
    display: inline-block;
    width: 140px;
    margin: 4% 1%;
  }


}
